/* Body Styles */
body {
    /* Background */
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #1e1e2d;

    /* Font and Color */
    font-family: 'JetBrains Mono', monospace;
    color: #ffffff;

    /* Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container Styles */
.container {
    background-color: #9e0808;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #9e0808;
    width: 430px;
    text-align: center;
}

/* Header Styles */
h1, h2 {
    margin-bottom: 20px;
}

/* Label Styles */
label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

/* Input Styles */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

/* Button Styles */
button {
    font-family: 'JetBrains Mono', monospace;
    background-color: #41434d;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #00bb10;
}

/* Datetime Styles */
#datetime {
    margin-top: 20px;
    font-size: 12px;
    color: #fffefd;
}
